<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="monetag" content="324aa4c6141010bd7e87c049eb780350">
    <script src="https://fpyf8.com/88/tag.min.js" data-zone="147829" async data-cfasync="false"></script>
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/dark-theme.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-29D5LJGTCV"></script>
    
  
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-29D5LJGTCV');
    </script>

  </head>
  <body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}

  </body>
</html>